#container {
width: 1000px;
margin: 150px auto;
}

#todos {
border-radius: 4px;
width:360px;
float: left;
height: 500px;
margin-right: 20px;
box-shadow: 0 0 3px rgba(0,0,0, 0.1);
background: #f7f7f7;
}

#slides {
border-radius: 4px;
width: 600px;
float: left;
height: 500px;
background-image: url("freshfood.jpg");
background-size: cover;

}

.complete {
color: black;
text-decoration: line-through;
}

h3 {
	border-radius: 4px 4px 0 0;
	background: #FFA631;
	color: white;
	margin-top: 50px;
	padding: 10px 10px;
	font-size: 50px;
	font-weight: normal;
	text-align: center;
}

h1 {
	border-radius: 4px 4px 0 0;
	background: #875F9A;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
	font-weight: normal;
	text-align: center;
}
 ul {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 ol {
 	list-style: none;
 	margin: 0;
 	padding: 0;
 }
 body {
 	font-family: Roboto;
    background: #F09819;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #EDDE5D, #F09819);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #EDDE5D, #F09819); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 }

 li {
 	background: #fff;
 	height: 40px;
 	line-height: 40px;
 }

 li:nth-child(2n) {
 	background: pink;
 }

 .user-input-title {
 	font-size: 18px;
 	background-color: #f7f7f7;
 	width: 100%;
 	padding: 13px 13px 13px 10px;
 	box-sizing: border-box;
 	border: 1px solid #875F9A
 }

 .user-input-title:focus {
 	background: white;
 	border: 2px solid #2980b9;
 }

 textarea {
 	font-size: 18px;
 	background-color: #f7f7f7;
 	width: 100%;
 	padding: 13px 13px 13px 10px;
 	box-sizing: border-box;
 	height: 250px;
 	border: 1px solid #875F9A
 }

 textarea:focus {
 	background: white;
 	border: 2px solid #2980b9;
 }

 .fa-square {
 	color: white;
 	margin-right: 10px;
 	float: right;
 	text-align: center;
 	margin-top: 10px;
 }

 .delete {
 	height: 40px;
 	text-align: center;
 	margin-right: 0;
 	color: white; 
 	width: 0;
 	display: inline-block;
 	transition: 0.2s linear;
 	opacity: 0;
 }

 li:hover span {
 	width: 40px;
 	opacity: 1.0;
 }
 
 .check {
 	height: 40px;
 	text-align: center;
 	margin-right: 10px;
 	color: white; 
 	width: 0;
 	display: inline-block;
 	transition: 0.2s linear;
 	opacity: 0;
 }

 .square {
 	background: black;
 }

 .hide {
 	display:block;
 }

 .overlay {
    position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    z-index: 2;
    cursor: pointer;
}

.text {
	position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: white;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
}

h2 {
	background: #875F9A;
	color: white;
	margin: 0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 50px;
	font-weight: normal;
}

.images {
  display: block;
  width: 20%;
  height: auto;
}

#head {
  width: 300px;
  height: 30px;
  border: solid 2px #ddd;
  border-radius: 10px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #875F9A;
  border: 2px solid #875F9A; 
}

#url {
  width: 300px;
  height: 30px;
  border: solid 2px #ddd;
  border-radius: 10px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #875F9A;
  border: 2px solid #875F9A; /* Green */
  text-align: center;
}

.add-text-btn {
  width: 300px;
  height: 50px;
  border: solid 2px #ddd;
  border-radius: 10px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #875F9A;
  border: 2px solid #875F9A; /* Green */
}










